{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.Description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ recipe.Duration }}</td>
            </tr>
            <tr>
                <th>Persons</th>
                <td>{{ recipe.Persons }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                {% for ingredient in recipe.Ingredients %}
                <td>{{ ingredient.name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ recipe.User }}</td>
            <tr>
                <th>Image</th>
                <td>{{ recipe.Image }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Comments</h2>
    <ul>
        {% for comment in recipe.comments %}
            <li>{{ comment.Text }} - {{ comment.Date|date('Y-m-d H:i') }}</li>
        {% else %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <h3>Add a comment</h3>
    
    {{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}
    <button type="submit">Add Comment</button>

    <a href="{{ path('app_recipe_index') }}">back to list</a>

    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
